<app-navigation-menu></app-navigation-menu>

<router-outlet></router-outlet>
<!-- <div *ngFor="let item of selectedRestaurant.items">
  <h2>{{ item.item }}</h2>
  <p>{{ item.description }}</p>
  <p>{{ item.price }}&nbsp; MKD</p>
</div> -->

<!-- <img src="menu-item-image.jpg" alt="Menu Item"> -->
<!-- <div class="menu">

  <div class="menu-item" *ngFor="let item of selectedRestaurant.items">
    <div class="menu-item-info">
      <h3 class="menu-item-name">{{ item.item }}</h3>
      <p class="menu-item-description">{{ item.description }}</p>
      <p class="menu-item-price">{{ item.price }}&nbsp; MKD</p>
    </div>
  </div>

</div> -->
